section {
	width: 80%;
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
}
* {
	/*display: flex;*/
	margin: 0px;
	padding: 0px;
}
.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: dimgray;
	align-items: center;
}
nav {
	display: flex;
	height: 3.5%;
	margin-top: 2%;
}
ul {
	display: flex;
	width: 40%;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
li {
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: 700;
	font-size: 11px;
	font-style: bold;
	align-items: center;
	padding-top: 5%;
	padding-bottom: 5%;

}
.a1 {
	border-radius:10009px;
	width: 8%;
	height: 50%;
}
.div-top {
	display: flex;
	flex-direction: column;
	height: 22%;

}
.div-img-p {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}
.a2 {
	width: 100%;
	height: 186px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.a3 {
	width: 100%;
	height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.div-p-imgze {
	display: flex;
	position: relative;
}
.p-imgze {
	position: absolute;
	text-transform: uppercase;
	font-weight: 700;
	font-style: bold;
	font-family: Roboto;
	color: white;
	margin-top: 5%;
	margin-left: 4%;
}
.trading {
	padding-top: 3%;
	padding-bottom: 3%;
	text-transform: uppercase;

}
.img-p-bottom {
	display: flex;
	flex-direction: column;
	padding-left: 4%;
	height: 5%;
	margin-top: 17%;

}
.img-p-bottom1 {
	display: flex;
	flex-direction: column;
	padding-left: 4%;
	margin-top: 17%;
	height: 5%;

}

.bottom-p {
	display: flex;
	font-style: bold;
	font-family: Roboto;
	font-weight: 700;
	font-size: 10px;
	margin-top: 5%;
	color: #8A8787;
	height: 100%;
	width: 100%;
}
.clock {
	width: 3%;
	margin-right: 1%;
}
.top-main {
	display: flex;
	justify-content: space-between;
	height: 90%;

}
.bottom-main-div {
	display: flex;
	flex-direction: column;
}
.div-p-left {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-bottom: 5%;

}
.p-imgze1 {
	font-size: 23px;
	position: absolute;
	text-transform: uppercase;
	font-weight: 700;
	font-style: bold;
	font-family: Roboto;
	color: white;

}
.img-p {
	display: flex;
	flex-direction: column;
	width: 60%;

}
.a4 {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	margin-bottom: 5%;
	position: relative;
}
.img-p-left {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.a5 {
	width: 100%;
	border-radius: 8px;
}
.img-p-right {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}
.left-right {
	display: flex;
	justify-content: space-between;

}
.footer {
	display: flex;
	background-color: #243043;
	justify-content: space-evenly;
	padding: 3%;
}
.line1 {
	display: flex;
	flex-direction: column;
}
.p-footer {
	color: #818687;
	font-weight: 700;
	font-style: bold;
	font-family: Roboto;
	line-height: 20px;
	font-size: 12px;

}
.geo {
	width: 3%;
	height: 3%;
}
li {
	list-style: none;
}
.happening-now {
	margin-top: 3%;
	margin-bottom: 2%;
	text-transform: uppercase;
}
.touch {
	color: white;
	font-family: Roboto;
}